body {
    background-color: #eeeeee;
    font-family: Monaco, Courier New;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    float: right;
}

.contact-links {
    float: left;
}

li {
    list-style-type: circle;
}

.footer {
    clear: both;
    font-size: 10px;
    text-align: center;
}